@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}

.header {
  background-image: url(./../images/bg__header.jpg);
  background-size: cover;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__btn-open {
  display: none;
}

.header__bgcolor {
  background-color: rgba(32, 33, 34, 0.79);
}

.header__top {
  padding-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.logo--link {
  width: 15%;
}

.logo {
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  color: #fff;
  font-size: 18px;
}

.menu__logo--link {
  display: none;
}

.menu__item {
  padding: 0 10px;
}

.menu__link {
  color: #fff;
}

.menu__link:hover {
  color: #6ebbd3;
}

.menu__link:active {
  color: #e52d2d;
}

.menu__btn-close {
  display: none;
}

.menu .contact {
  display: none;
}

.contact {
  width: 50%;
  text-align: right;
  color: #fff;
}

.contact__number {
  padding-top: 10px;
  line-height: 29px;
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.contact__callUsText {
  font-size: 18px;
  display: block;
}

.header__bottom {
  margin-top: 36px;
  padding-bottom: 66px;
}

.header__bottom--text {
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  color: #fff;
}

.content {
  position: relative;
}

.content__inner {
  margin-top: 37px;
  margin-bottom: 38px;
}

.content__sort--text {
  font-size: 18px;
  font-weight: 700;
  margin-right: 48px;
}

.content__sort-by-price {
  padding-right: 30px;
  margin-right: 56px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}

.content__sort-by-price::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 15px;
  height: 15px;
  background-image: url(./../images/icon_arrow-to-down.svg);
}

.content__sort-by-age {
  font-size: 18px;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
}

.content__sort-by-age::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 15px;
  height: 15px;
  background-image: url(./../images/icon_arrow-to-down.svg);
}

.content__cards {
  margin-top: 38px;
}

.content__cards-inner {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 22px;
  grid-row-gap: 27px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.content__item {
  max-width: 380px;
  width: 100%;
  position: relative;
}

.content__item-discount {
  position: absolute;
  top: 34px;
  left: 38px;
  background-color: #e52d2d;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 9px 19px 10px 18px;
  border-radius: 10px;
}

.content__item-like {
  position: relative;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.content__item-like::before {
  position: absolute;
  top: 36px;
  right: 32px;
  content: "";
  background-image: url(./../images/icon-like.png);
  width: 46px;
  height: 42px;
}

.content__item-like:active::before {
  background-image: url(./../images/icon-liked.png);
}

.content__item-liked {
  position: relative;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.content__item-liked::before {
  position: absolute;
  top: 36px;
  right: 32px;
  content: "";
  background-image: url(./../images/icon-liked.png);
  width: 46px;
  height: 42px;
}

.content__item-desc {
  padding: 29px;
  background-color: #f3f3f3;
}

.content__item-name {
  font-size: 24px;
  font-weight: 700;
  float: 29px;
}

.content__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

.content__item-color {
  font-size: 12px;
  padding-left: 22px;
  position: relative;
  line-height: 14px;
}

.content__item-color::before {
  content: "";
  width: 4px;
  height: 26px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6ebbd3;
}

.content__item-age {
  line-height: 14px;
  font-size: 12px;
}

.content__item-age b {
  font-size: 16px;
  line-height: 19px;
}

.content__item-paws {
  line-height: 14px;
  font-size: 12px;
}

.content__item-paws b {
  font-size: 16px;
  line-height: 19px;
}

.content__item-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.content__item-btn-buy {
  background-color: #6ebbd3;
  width: 100%;
  padding: 21px 0 22px;
  border: none;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.content__item-btn-buy:hover {
  background-color: #1f2021;
}

.content__item-btn-buy:active {
  background-color: #e52d2d;
}

.content__item-btn-sold {
  background-color: #1f2021;
  width: 100%;
  padding: 21px 0 22px;
  border: none;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.content__cards-show-more {
  margin-top: 68px;
  margin-bottom: 80px;
  text-align: center;
}

.content__cards-show-more--text {
  display: inline-block;
  padding: 24px 0 24px;
  text-align: center;
  border: 1px solid #cacaca;
  max-width: 380px;
  width: 100%;
  border-radius: 10px;
  line-height: 17px;
  color: #000;
}

.scroll-up--wprapper {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
}

.scroll-up {
  width: 60px;
  height: 60px;
  background-color: #6ebbd3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer {
  background-color: #1f2021;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0;
  color: #fff;
}

.footer__description {
  width: 50%;
  margin: 0 auto;
  max-width: 400px;
}

.footer__textBuy {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.footer__textSubscribe {
  font-size: 28px;
  line-height: 26px;
  margin-top: 26px;
}

.footer__subscribtion {
  width: 50%;
  margin: 0 auto;
}

.footer__form {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input--email {
  line-height: 17px;
  padding-top: 22px;
  padding-right: 22px;
  padding-left: 35px;
  padding-bottom: 26px;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  border-radius: 10px;
  margin-right: 16px;
  outline: none;
}

.footer__input--email:focus {
  -webkit-box-shadow: 0px 0px 5px 5px #80bdff86;
          box-shadow: 0px 0px 5px 5px #80bdff86;
}

.footer__btn--subscribe {
  font-weight: 700;
  font-weight: 17;
  max-width: 250px;
  width: 100%;
  min-width: 200px;
  text-align: center;
  padding: 22px 0px 26px;
  background-color: #6ebbd3;
  border-radius: 10px;
  font-weight: 700;
  line-height: 17px;
  color: #fff;
  cursor: pointer;
}

.footer__btn--subscribe:hover {
  background-color: #6ebbd3;
}

.footer__btn--subscribe:active {
  background-color: #e52d2d;
}

.footer__checkbox {
  position: relative;
}

.footer__checkbox--input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__checkbox--input + .footer__checkbox--text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer__checkbox--input + .footer__checkbox--text::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.footer__checkbox--input:checked + .footer__checkbox--text::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.footer__checkbox--input:not(:disabled):not(:checked) + .footer__checkbox--text:hover::before {
  border-color: #b3d7ff;
}

.footer__checkbox--input:not(:disabled):active + .footer__checkbox--text::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.footer__checkbox--input:focus + .footer__checkbox--text::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.footer__checkbox--input:focus:not(:checked) + .footer__checkbox--text::before {
  border-color: #80bdff;
}

.footer__checkbox--input:disabled + .footer__checkbox--text::before {
  background-color: #e9ecef;
}

.footer__checkbox--text {
  font-size: 14px;
  line-height: 17px;
  margin-top: 24px;
  cursor: pointer;
}

.footer .error {
  color: #e52d2d;
}

@media (max-width: 1024px) {
  .content__cards-inner {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .content__item {
    margin: 0 auto;
  }
}

@media (max-width: 950px) {
  .footer__textBuy {
    font-size: 40px;
  }
  .footer__textSubscribe {
    font-size: 18px;
  }
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__input--email {
    max-width: 100%;
  }
  .footer__btn--subscribe {
    margin-top: 10px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .header #menu:target {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .header__btn-open {
    display: block;
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 700;
  }
  .contact {
    text-align: center;
  }
  .contact__number {
    font-size: 20px;
  }
  .contact__callUsText {
    font-size: 16px;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #202122;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    z-index: 1;
  }
  .menu__logo--link {
    display: block;
  }
  .menu__logo--link {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .menu__logo--link .logo {
    width: 100%;
    max-width: 60px;
  }
  .menu__btn-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 30px;
    font-size: 30px;
  }
  .menu__item {
    padding: 10px 0 5px;
    font-size: 24px;
    width: 100%;
  }
  .menu__link {
    text-align: center;
    display: block;
    padding: 20px 0;
  }
  .menu .contact {
    margin-top: 20px;
    display: block;
    width: 100%;
  }
  .menu .contact__number {
    font-size: 18px;
    display: block;
  }
  .menu .contact__callUsText {
    font-size: 14px;
  }
  .content__cards-inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .content__item {
    margin: 0 auto;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__description {
    width: 100%;
  }
  .footer__textBuy {
    font-size: 40px;
    text-align: center;
  }
  .footer__subscribtion {
    width: 70%;
    min-width: 200px;
    max-width: 500px;
  }
  .footer__input--email {
    min-width: 200px;
  }
  .footer__textSubscribe {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
  }
  .footer__form {
    margin-top: 35px;
  }
}

@media (max-width: 600px) {
  .header .logo--link .logo {
    min-width: 60px;
  }
  .contact__number {
    font-size: 18px;
  }
  .contact__callUsText {
    font-size: 14px;
  }
  .content__sort--text {
    margin-right: 20px;
  }
  .content__sort-by-price {
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .header__bottom--text {
    font-size: 32px;
  }
  .contact__number {
    font-size: 16px;
  }
  .contact__callUsText {
    font-size: 12px;
  }
  .content__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .content__sort--text {
    width: 100%;
  }
  .content__sort-by-price {
    display: inline-block;
    -moz-text-align-last: center;
         text-align-last: center;
    margin: 10px auto;
  }
  .content__sort-by-age {
    display: inline-block;
    margin: 10px auto;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .footer__textBuy {
    font-size: 36px;
  }
  .footer__textSubscribe {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header__bottom {
    padding-bottom: 32px;
  }
  .header__bottom--text {
    font-size: 24px;
  }
  .header__btn-open {
    font-size: 20px;
  }
  .contact {
    display: none;
  }
  .content__item-discount {
    font-size: 12px;
    padding: 5px 15px 6px 14px;
  }
  .content__category {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content__item-name {
    font-size: 20px;
  }
  .content__item-color {
    width: 100%;
  }
  .content__item-age {
    margin: 10px 0;
  }
  .content__item-paws {
    margin: 10px auto;
  }
  .content__item-price {
    font-size: 22px;
  }
  .content__item-discount {
    top: 20px;
    left: 20px;
  }
}
